@mixin sp() {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin lg() {
  @media screen and (min-width: 768px) {
    @content;
  }
}

// デザインスケール 375px
@function vw($px) {
  @return calc(#{$px} * (100vw / #{375}));
}

@mixin font-lato() {
  font-family: "lato", serif;
}

@mixin font-garamond() {
  font-family: "Cormorant Garamond", serif;
}

@mixin font1() {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-style: italic;;
}

@mixin font2() {
  font-family: "Vujahday Script", cursive;
  font-weight: 400;
  font-style: normal;
}
