---

---

<footer class="aubriot-footer">
  <div class="aubriot-footer__inner">
    <div class="aubriot-footer__col">
      <p class="aubriot-menu">
        <a href="https://store.world.co.jp//s/brand/aubriot/?link_id=S51_F_home"> HOME </a>
      </p>
    </div>
    <div class="aubriot-footer__col">
      <ul class="aubriot-menu-list">
        <li>
          <a href="https://store.world.co.jp//s/brand/aubriot/search?link_id=S51_F_all"> ALL </a>
        </li>
        <li>
          <a href="https://store.world.co.jp//s/brand/aubriot/search?it=WB&link_id=S51_F_tops"> TOPS </a>
        </li>
        <li>
          <a href="https://store.world.co.jp//s/brand/aubriot/search?it=WC&link_id=S51_F_onepiece"> ONE-PIECE </a>
        </li>
        <li>
          <a href="https://store.world.co.jp//s/brand/aubriot/search?it=WD&link_id=S51_F_skirt"> SKIRT </a>
        </li>
        <li>
          <a href="https://store.world.co.jp//s/brand/aubriot/search?it=WE&link_id=S51_F_pants"> PANTS </a>
        </li>
        <li>
          <a href="https://store.world.co.jp//s/brand/aubriot/search?it=WA01,WA02,WA03,WA04,WA05,WA06,WH01&link_id=S51_F_jacket"> JACKET </a>
        </li>
        <li>
          <a href="https://store.world.co.jp//s/brand/aubriot/search?it=WA06,WA07,WA09,WA10,WA11,WA12,WA13,WA14,WA15,WA16,WA17,WA18,WA19,WA20,WA21,WA23&link_id=S51_F_coat"> COAT </a>
        </li>
      </ul>
    </div>
    <div class="aubriot-footer__col">
      <ul class="aubriot-menu-list">
        <li>
          <a href="https://store.world.co.jp//s/brand/aubriot/lookbook/24ss/vol1/?link_id=S51_F_look1"> LOOK 2024 SS VOL.1 </a>
        </li>
        <li>
          <a href="https://store.world.co.jp//s/brand/aubriot/lookbook/24ss/vol2/?link_id=S51_F_look2"> LOOK 2024 SS VOL.2 </a>
        </li>
      </ul>
    </div>
    <div class="aubriot-footer__col">
      <p class="aubriot-menu">
        <a href="javascript:void()" data-target="concept-modal" class="js-concept-modal-open"> CONCEPT </a>
      </p>
    </div>
    <div class="aubriot-footer__col">
      <p class="aubriot-menu">
        <a href="https://store.world.co.jp//s/brand/aubriot/news/?link_id=S51_F_news"> NEWS / SCHEDULE </a>
      </p>
    </div>
    <div class="aubriot-footer__col">
      <ul class="aubriot-menu-list">
        <li>
          <a href="javascript:void(0)" class="aubriot-menu-lv2" data-js="f-drop-down">INFORMATION<div class="ico-menu"></div></a>
          <div class="aubriot-menu-lv2-cnt" data-js="f-drop-down-cnt">
            <ul class="aubriot-menu-list-lv2">
              <li>
                <a href="https://store.world.co.jp//help/wos/guide01.html#answer05"> TRADE LAW </a>
              </li>
              <li>
                <a href="https://store.world.co.jp//terms/?link_id=S51_F_wpolicy"> TERMS OF USE </a>
              </li>
              <li>
                <a href="https://store.world.co.jp//privacypolicy/?link_id=S51_F_wprivacy"> PRIVACY POLICY </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <div class="aubriot-footer__col">
      <p class="aubriot-copyrights">@WORLD CO.,LTD.</p>
      <ul class="aubriot-sns-list">
        <li class="aubriot-sns-insta">
          <a href="https://www.instagram.com/aubriot_official?igsh=bGRsNDBhbDF1Y2pu" target="_blank">
            <img src="https://store.world.co.jp//s/brand/aubriot/common/img/ico_insta_bk.svg" alt="" />
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
