---

---

<header class="bdheader">
  <div class="bdheader__inner">
    <div class="bdheader__main">
      <div class="header-menu bdheader__menu">
        <div class="header-menu__btn">
          <div class="header-menu__btn_ico"></div>
        </div>
        <div class="header-menu__wrap">
          <div class="hMenu-modal">
            <div class="hMenu-modal__outer">
              <div class="hMenu-modal__close"></div>
              <div class="hMenu-modal__cnt">
                <div class="hMenu-grp">
                  <div class="hMenu-grp__ttl">CATEGORY</div>
                  <div class="hMenu-grp__wrap">
                    <div class="hMenu-item"><a class="hMenu-item__link" href="https://store.world.co.jp/s/brand/gallest/search?link_id=523_H_categories_all">ALL</a></div>
                    <div class="hMenu-item is-child">
                      <a class="hMenu-item__link" tabindex="-1">TOPS</a>
                      <div class="hMenu-item__child">
                        <div class="hMenu2-item"><a class="hMenu2-item__link" href="https://store.world.co.jp/s/brand/gallest/search?it=WB&link_id=523_H_tops">Tops_ALL</a></div>
                        <div class="hMenu2-item"><a class="hMenu2-item__link" href="https://store.world.co.jp/s/brand/gallest/search?it=WB02,WB03,WB04,WB05,WB08,WB11,WB13,WB14,WB15&link_id=523_H_cutsew">カットソー</a></div>
                        <div class="hMenu2-item"><a class="hMenu2-item__link" href="https://store.world.co.jp/s/brand/gallest/search?it=WB07&link_id=523_H_blouse">シャツブラウス</a></div>
                        <div class="hMenu2-item"><a class="hMenu2-item__link" href="https://store.world.co.jp/s/brand/gallest/search?it=WB01&link_id=523_H_knit">ニット</a></div>
                        <div class="hMenu2-item"><a class="hMenu2-item__link" href="https://store.world.co.jp/s/brand/gallest/search?it=WB06,WB12&link_id=523_H_cardigan">カーディガン</a></div>
                        <div class="hMenu2-item"><a class="hMenu2-item__link" href="https://store.world.co.jp/s/brand/gallest/search?it=WB16&link_id=523_H_vest">ベスト</a></div>
                      </div>
                    </div>
                    <div class="hMenu-item"><a class="hMenu-item__link" href="https://store.world.co.jp/s/brand/gallest/search?it=WC,WE09&link_id=523_H_dress">DRESS</a></div>
                    <div class="hMenu-item is-child">
                      <a class="hMenu-item__link" tabindex="-1">PANTS</a>
                      <div class="hMenu-item__child">
                        <div class="hMenu2-item"><a class="hMenu2-item__link" href="https://store.world.co.jp/s/brand/gallest/search?it=WE&link_id=523_H_pants">Pants_ALL</a></div>
                        <div class="hMenu2-item"><a class="hMenu2-item__link" href="https://store.world.co.jp/s/brand/gallest/search?it=WE04&link_id=523_H_denim">デニム</a></div>
                        <div class="hMenu2-item"><a class="hMenu2-item__link" href="https://store.world.co.jp/s/brand/gallest/search?it=WE08&link_id=523_H_fulllength">フルレングス</a></div>
                        <div class="hMenu2-item"><a class="hMenu2-item__link" href="https://store.world.co.jp/s/brand/gallest/search?it=WE05,06,07&link_id=523_H_short">ショート・クロップド</a></div>
                        <div class="hMenu2-item"><a class="hMenu2-item__link" href="https://store.world.co.jp/s/brand/gallest/search?it=WE09&link_id=523_H_allinone">オールインワン・サロペット</a></div>
                      </div>
                    </div>
                    <div class="hMenu-item"><a class="hMenu-item__link" href="https://store.world.co.jp/s/brand/gallest/search?it=WD&link_id=523_H_skirt">SKIRT</a></div>
                    <div class="hMenu-item"><a class="hMenu-item__link" href="https://store.world.co.jp/s/brand/gallest/search?ke=setup523&link_id=523_H_setup">SETUP</a></div>
                    <div class="hMenu-item is-child">
                      <a class="hMenu-item__link" tabindex="-1">OUTER</a>
                      <div class="hMenu-item__child">
                        <div class="hMenu2-item"><a class="hMenu2-item__link" href="https://store.world.co.jp/s/brand/gallest/search?it=WA&link_id=523_H_outer">Outer_ALL</a></div>
                        <div class="hMenu2-item"><a class="hMenu2-item__link" href="https://store.world.co.jp/s/brand/gallest/search?it=WA06,WA07,WA09,WA10,WA11,WA12,WA13,WA14,WA15,WA16,WA17,WA18,WA19,WA20,WA21,WA23&link_id=523_H_coat">コート</a></div>
                        <div class="hMenu2-item"><a class="hMenu2-item__link" href="https://store.world.co.jp/s/brand/gallest/search?it=WA01,WA02,WA03,WA04,WA05&link_id=523_H_jacket">ジャケット</a></div>
                        <div class="hMenu2-item"><a class="hMenu2-item__link" href="https://store.world.co.jp/s/brand/gallest/search?it=WA08,WA22&link_id=523_H_blouson">ブルゾン</a></div>
                      </div>
                    </div>
                    <div class="hMenu-item is-child">
                      <a class="hMenu-item__link" tabindex="-1">GOODS</a>
                      <div class="hMenu-item__child">
                        <div class="hMenu2-item"><a class="hMenu2-item__link" href="https://store.world.co.jp/s/brand/gallest/search?it=WM,WU,WJ,WK,WL,WN,WO,WF,WP&link_id=523_H_goods">Goods_ALL</a></div>
                        <div class="hMenu2-item"><a class="hMenu2-item__link" href="https://store.world.co.jp/s/brand/gallest/search?it=WM,WU&link_id=523_H_acc">アクセサリー</a></div>
                        <div class="hMenu2-item"><a class="hMenu2-item__link" href="https://store.world.co.jp/s/brand/gallest/search?it=WJ&link_id=523_H_shoes">シューズ</a></div>
                        <div class="hMenu2-item"><a class="hMenu2-item__link" href="https://store.world.co.jp/s/brand/gallest/search?it=WK&link_id=523_H_bag">バッグ</a></div>
                        <div class="hMenu2-item"><a class="hMenu2-item__link" href="https://store.world.co.jp/s/brand/gallest/search?it=WL,WN,WO,WF,WP&link_id=523_H_others">その他</a></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="hMenu-grp">
                  <div class="hMenu-grp__ttl">PRODUCTS</div>
                  <div class="hMenu-grp__wrap">
                    <div class="hMenu-item"><a class="hMenu-item__link" href="https://store.world.co.jp/s/brand/gallest/search?so=NEW&link_id=523_H_newin">NEW IN</a></div>
                    <div class="hMenu-item"><a class="hMenu-item__link" href="https://store.world.co.jp/s/brand/gallest/ranking/?link_id=523_H_ranking">RANKING</a></div>
                    <div class="hMenu-item"><a class="hMenu-item__link" href="">RECOMMEND</a></div>
                    <div class="hMenu-item"><a class="hMenu-item__link" href="https://store.world.co.jp/s/brand/gallest/preorder/?link_id=523_H_preorder">PRE ORDER</a></div>
                    <div class="hMenu-item"><a class="hMenu-item__link" href="https://store.world.co.jp/s/brand/gallest/sale/?link_id=523_H_sale">SALE</a></div>
                    <div class="hMenu-item"><a class="hMenu-item__link" href="https://store.world.co.jp/s/brand/gallest/snap-search.html?label=BR523&link_id=523_H_staffsnap">STAFF SNAP</a></div>
                    <div class="hMenu-item"><a class="hMenu-item__link">STAFF MOVIE</a></div>
                    <div class="hMenu-item"><a class="hMenu-item__link" href="https://store.world.co.jp/s/brand/gallest/topics/?link_id=523_H_topics">TOPICS</a></div>
                    <div class="hMenu-item"><a class="hMenu-item__link" href="">BLOG</a></div>
                    <div class="hMenu-item"><a class="hMenu-item__link" href="">NEWS</a></div>
                  </div>
                </div>
                <div class="hMenu-grp">
                  <div class="hMenu-grp__ttl">SIZE</div>
                  <div class="hMenu-grp__wrap">
                    <div class="hMenu-item"><a class="hMenu-item__link" href="https://store.world.co.jp/s/brand/gallest/search?link_id=523_H_size_all">ALL</a></div>
                    <div class="hMenu-item"><a class="hMenu-item__link" href="https://store.world.co.jp/s/brand/gallest/search?si=A05,A04,A03&so=NEW&st=1&sst1=2&link_id=523_H_size_small">SMALL</a></div>
                    <div class="hMenu-item"><a class="hMenu-item__link" href="https://store.world.co.jp/s/brand/gallest/search?si=A06,A07,A09,D26,D27,D28,D29,D30,D31,D32&so=NEW&st=1&sst1=2&link_id=523_H_size_regular">REGULAR</a></div>
                    <div class="hMenu-item"><a class="hMenu-item__link" href="https://store.world.co.jp/s/brand/gallest/search?si=A08,A10,A11,A12,A16&so=NEW&st=1&sst1=2&link_id=523_H_size_large">LARGE</a></div>
                  </div>
                </div>
                <div class="hMenu-grp">
                  <div class="hMenu-grp__ttl">ABOUT US</div>
                  <div class="hMenu-grp__wrap">
                    <div class="hMenu-item"><a class="hMenu-item__link" href="https://store.world.co.jp/s/brand/gallest/concept/?link_id=523_H_philosophy">PHILOSOPHY</a></div>
                    <div class="hMenu-item"><a class="hMenu-item__link" href="https://store.world.co.jp/s/brand/gallest/shoplist/?link_id=523_H_shoplist">SHOPLIST</a></div>
                  </div>
                </div>
                <div class="hMenu-grp">
                  <div class="hMenu-grp__ttl">CONTACT</div>
                  <div class="hMenu-grp__wrap">
                    <div class="hMenu-item"><a class="hMenu-item__link" href="https://store.world.co.jp/mail-magazine-search?div=13&br=BR523&mode=50&link_id=523_H_mailmagazine" target="_blank">MAIL MAGAZINE</a></div>
                    <div class="hMenu-item"><a class="hMenu-item__link" href="https://lin.ee/glg9p8T" target="_blank">OFFICIAL LINE</a></div>
                    <div class="hMenu-item"><a class="hMenu-item__link" href="https://www.instagram.com/gallest_official/" target="_blank">INSTAGRAM</a></div>
                    <div class="hMenu-item is-child is-wide">
                      <a class="hMenu-item__link" tabindex="-1">CUSTOMER</a>
                      <div class="hMenu-item__child">
                        <div class="hMenu2-item"><a class="hMenu2-item__link" href="https://store.world.co.jp/member/?link_id=523_H_wpc">ワールドプレミアムクラブ</a></div>
                        <div class="hMenu2-item"><a class="hMenu2-item__link" href="https://store.world.co.jp/help/?link_id=523_H_wfaq">お客様窓口</a></div>
                        <div class="hMenu2-item"><a class="hMenu2-item__link" href="https://corp.world.co.jp/" target="_blank">企業情報</a></div>
                        <div class="hMenu2-item"><a class="hMenu2-item__link" href="https://store.world.co.jp/terms/?link_id=523_H_wpolicy">利用規約</a></div>
                        <div class="hMenu2-item"><a class="hMenu2-item__link" href="https://store.world.co.jp/sitepolicy/?link_id=523_H_wpolicy">サイトポリシー</a></div>
                        <div class="hMenu2-item"><a class="hMenu2-item__link" href="https://store.world.co.jp/privacypolicy/?link_id=523_H_wprivacy">プライバシーポリシー</a></div>
                        <div class="hMenu2-item"><a class="hMenu2-item__link" href="https://corp.world.co.jp/recruit/" target="_blank">採用情報</a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h2 class="mainttl bdheader__ttl"><a class="mainttl__link" href="https://store.world.co.jp/s/brand/gallest/"><img src="https://store.world.co.jp/res/s/brand/gallest/common/img/n_mainttl.svg" alt="" /></a></h2>
      <div class="header-search bdheader__search">
        <div class="header-search__btn"><img src="https://store.world.co.jp/res/s/brand/gallest/common/img/n_ico_search.svg" alt="" /></div>
        <div class="header-search__wrap">
          <div class="hSearch-modal">
            <div class="hSearch-modal__outer">
              <div class="hSearch-modal__close"></div>
              <div class="hSearch-modal__cnt">
                <div class="hSearch-grp hSearch-recommend">
                  <div class="hSearch-grp__ttl">おすすめキーワード</div>
                  <div class="hSearch-recommend__wrap">
                    <!-- <m:include m:path="/PC/s/brand/gallest/news/mt_inc/recommend_word02.inc"></m:include> -->
                    <div class="hSearch-recommend__item">
                      <a class="hSearch-recommend__link" href="/s/brand/gallest/search?fr=52319030+52319031+52319023+52319024+52319025+52319017+52389021+52388034+52388046&so=RCMD&st=1&&un=fku&link_id=523_H_keyword01&link_id=523_H_keyword01"> #新作トップス </a>
                    </div>
                    <div class="hSearch-recommend__item">
                      <a class="hSearch-recommend__link" href="/s/brand/gallest/search?fr=52369021+52369020+52368027+52368026&so=RCMD&st=1&&un=fku&link_id=523_H_keyword02&link_id=523_H_keyword02"> #イージーパンツ </a>
                    </div>
                    <div class="hSearch-recommend__item">
                      <a class="hSearch-recommend__link" href="/s/brand/gallest/sale/?link_id=523_H_keyword02&link_id=523_H_keyword03"> #FINAL SALE </a>
                    </div>
                  </div>
                </div>
                <form class="hSearch-form" action="/s/brand/gallest/search" method="get">
                  <div class="hSearch-form__input">
                    <div class="hSearch-grp">
                      <div class="hSearch-grp__ttl">キーワード</div>
                      <div class="hSearch-grp__cnt">
                        <input class="hSearch-input" type="text" placeholder="何をお探しですか？" name="fr" value="" />
                      </div>
                    </div>
                    <div class="hSearch-grp is-col">
                      <div class="hSearch-grp__ttl">商品カテゴリー</div>
                      <div class="hSearch-grp__cnt">
                        <div class="hSearch-select">
                          <select class="hSearch-select__input" type="text" name="it">
                            <option value="">ALL</option>
                            <option value="WA">OUTER</option>
                            <option value="WC">SETUP</option>
                            <option value="WB">TOPS</option>
                            <option value="WE">PANTS</option>
                            <option value="WD">SKIRT</option>
                            <option value="WC">ONE-PIECE</option>
                            <option value="WM,WU">ACCESSORIES</option>
                            <option value="WJ">SHOES</option>
                            <option value="WK">BAG</option>
                            <option value="WF01,WF02,WF03,WF04,WF05,WF06,WN02,WN04,WP03,WP04,WP05">LIFE</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="hSearch-grp is-col">
                      <div class="hSearch-grp__ttl">サイズ</div>
                      <div class="hSearch-grp__cnt">
                        <div class="hSearch-select">
                          <select class="hSearch-select__input" type="text" name="si">
                            <option value="">サイズ</option>
                            <option value="A03">XXXS(レディース)</option>
                            <option value="A04">XXS(レディース)</option>
                            <option value="A05">XS(レディース)</option>
                            <option value="A06">S(レディース)</option>
                            <option value="A07">M(レディース)</option>
                            <option value="A09">L(レディース)</option>
                            <option value="A08">LL(レディース)</option>
                            <option value="A10">3L(レディース)</option>
                            <option value="A11">4L(レディース)</option>
                            <option value="A12">5L(レディース)</option>
                            <option value="A01">フリー(レディース)</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="hSearch-grp is-col">
                      <div class="hSearch-grp__ttl">カラー</div>
                      <div class="hSearch-grp__cnt">
                        <div class="hSearch-select">
                          <select class="hSearch-select__input" type="text" name="co">
                            <option value="">カラー</option>
                            <option value="0">ホワイト系</option>
                            <option value="1">グレー系</option>
                            <option value="2">グリーン系</option>
                            <option value="3">イエロー系</option>
                            <option value="4">ブラウン系</option>
                            <option value="5">ベージュ系</option>
                            <option value="6">レッド系</option>
                            <option value="7">ピンク系</option>
                            <option value="8">パープル系</option>
                            <option value="9">ブルー系</option>
                            <option value="B">ブラック系</option>
                            <option value="D">オレンジ系</option>
                            <option value="F">シルバー系</option>
                            <option value="G">ゴールド系</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="hSearch-grp">
                      <div class="hSearch-grp__ttl">価格</div>
                      <div class="hSearch-grp__cnt">
                        <div class="select-price">
                          <div class="selPrice-border" data-price="100000">
                            <div class="selPrice-border__inner">
                              <div class="selPriceIco is-min"></div>
                              <div class="selPriceIco is-max"></div>
                            </div>
                          </div>
                          <div class="selPrice-txt">
                            <input class="is-min selPriceTxt" type="text" placeholder="¥" name="pl2" />
                            <input class="is-max selPriceTxt" type="text" placeholder="¥" name="pu2" />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="hSearch-grp hSearch-status">
                      <div class="hSearch-grp__ttl">ステータス</div>
                      <div class="hSearch-grp__cnt hSearch-status__wrap">
                        <label class="hSearch-check">
                          <input class="hSearch-check__ico" type="checkbox" name="ar" value="4" />
                          <div class="hSearch-check__txt">新着アイテム</div>
                        </label>
                        <label class="hSearch-check">
                          <input class="hSearch-check__ico" type="checkbox" name="rd" value="02" />
                          <div class="hSearch-check__txt">予約アイテム</div>
                        </label>
                        <label class="hSearch-check">
                          <input class="hSearch-check__ico" type="checkbox" name="sst1" value="3" />
                          <div class="hSearch-check__txt">セールアイテム</div>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="hSearch-form__btn">
                    <input class="hSearch-sumbit" type="submit" value="SEARCH" />
                    <div class="hSearch-reset">RESET</div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bdheader__sub">
      <div class="header-submenu">
        <div class="header-submenu__item"><a class="header-submenu__link js-subsubmenuOpen">ITEM</a></div>
        <div class="header-submenu__item"><a class="header-submenu__link" href="https://store.world.co.jp/s/brand/gallest/lookbook/2024-summer/?link_id=523_H_navi_collection">COLLECTION</a></div>
        <div class="header-submenu__item"><a class="header-submenu__link" href="https://store.world.co.jp/s/brand/gallest/topics/?link_id=523_H_navi_topics">TOPICS</a></div>
        <div class="header-submenu__item"><a class="header-submenu__link" href="https://store.world.co.jp/s/brand/gallest/news/?link_id=523_H_navi_news">NEWS</a></div>
        <div class="header-submenu__item"><a class="header-submenu__link" href="https://store.world.co.jp/s/brand/gallest/blog-search.html?label_code=BR523&link_id=523_H_navi_blog">BLOG</a></div>
      </div>
      <div class="header-subsubmenu">
        <div class="header-subsubmenu__wrap">
          <div class="header-subsubmenu__item is-prev js-subsubmenuClose"></div>
          <div class="header-subsubmenu__item"><a class="header-subsubmenu__link" href="https://store.world.co.jp/s/brand/gallest/search?link_id=523_H_navi_categories_all">ALL</a></div>
          <div class="header-subsubmenu__item"><a class="header-subsubmenu__link" href="https://store.world.co.jp/s/brand/gallest/search?it=WB&link_id=523_H_navi_tops">TOPS</a></div>
          <div class="header-subsubmenu__item"><a class="header-subsubmenu__link" href="https://store.world.co.jp/s/brand/gallest/search?it=WC,WE09&link_id=523_H_navi_dress">DRESS</a></div>
          <div class="header-subsubmenu__item"><a class="header-subsubmenu__link" href="https://store.world.co.jp/s/brand/gallest/search?it=WE&link_id=523_H_navi_pants">PANTS</a></div>
          <div class="header-subsubmenu__item"><a class="header-subsubmenu__link" href="https://store.world.co.jp/s/brand/gallest/search?it=WD&link_id=523_H_navi_skirt">SKIRT</a></div>
          <div class="header-subsubmenu__item"><a class="header-subsubmenu__link" href="https://store.world.co.jp/s/brand/gallest/search?it=WA&link_id=523_H_navi_outer">OUTER</a></div>
          <div class="header-subsubmenu__item"><a class="header-subsubmenu__link" href="https://store.world.co.jp/s/brand/gallest/search?ke=setup523&link_id=523_H_navi_setup">SETUP</a></div>
          <div class="header-subsubmenu__item"><a class="header-subsubmenu__link" href="https://store.world.co.jp/s/brand/gallest/search?it=WM,WU,WJ,WK,WL,WN,WO,WF,WP&link_id=523_H_navi_goods">GOODS</a></div>
        </div>
      </div>
    </div>
    <!--
    <div class="bdheader__info">
      <div class="header-info" style="background:#84393C"><a href="" style="color:#fff;">SAMPLE SALE 恵比寿アトレ近日開催</a></div>
    </div>
-->
  </div>
</header>
