---

---

<footer class="bdfooter">
  <div class="bdfooter__inner">
    <div class="footer-wdpremium">
      <div class="footer-wdpremium__wrap">
        <div class="mystageRank">
          <!-- 会員ランク読み込み -->
          <!-- <m:include m:path="/PC/s/brand/gallest/_DEFAULT/stage_rank.inc" />         -->
          <link href="https://store.world.co.jp/s/brand/indivi/common/css/stage_rank.css" rel="stylesheet" type="text/css" />
          <!-- 会員ランク読み込み -->
          <div id="l_stage" class="clearfix not_login">
            <a href="https://store.world.co.jp/stage/?link_id=523_L_stage_brand">
              <div>
                <em>お買い物するほど<br />ポイントアップ・クーポン特典</em>
                <b>ステージ別サービス</b>
              </div>
            </a>
          </div>
          <!-- 会員ランク読み込み// -->
        </div>
      </div>
    </div>
    <div class="footer-service">
      <div class="fsns footer-service__sns">
        <div class="fsns__item"><a class="fsns__link" href="https://www.instagram.com/gallest_official/" target="_blank"><img src="https://store.world.co.jp/res/s/brand/gallest/common/img/ico_insta.svg" alt="" /></a></div>
        <div class="fsns__item"><a class="fsns__link" href="https://lin.ee/glg9p8T" target="_blank"><img src="https://store.world.co.jp/res/s/brand/indivi/gallest/common/img/ico_line.svg" alt="" /></a></div>
        <div class="fsns__item"><a class="fsns__link" href="https://store.world.co.jp/mail-magazine-search?div=13&br=BR523&mode=50&link_id=523_H_mailmagazine" target="_blank"><img src="https://store.world.co.jp/res/s/brand/gallest/common/img/ico_mail.svg" alt="" /></a></div>
        <div class="fsns__item"><a class="fsns__link" href="https://store.world.co.jp/app/" target="_blank"><img src="https://store.world.co.jp/res/s/brand/gallest/common/img/ico_app.svg" alt="" /></a></div>
      </div>
      <div class="footer-menu">
        <div class="footer-menu__cnt">
          <div class="fMenu-item is-child">
            <a class="fMenu-item__link" tabindex="-1">CUSTOMER</a>
            <div class="fMenu-item__child">
              <div class="fMenu2-item"><a class="fMenu2-item__link" href="https://store.world.co.jp/member/?link_id=523_F_wpc">ワールドプレミアムクラブ</a></div>
              <div class="fMenu2-item"><a class="fMenu2-item__link" href="https://store.world.co.jp/help/?link_id=523_F_wfaq">お客様窓口</a></div>
              <div class="fMenu2-item"><a class="fMenu2-item__link" href="https://corp.world.co.jp/" target="_blank">企業情報</a></div>
              <div class="fMenu2-item"><a class="fMenu2-item__link" href="https://store.world.co.jp/terms/?link_id=523_F_wpolicy">利用規約</a></div>
              <div class="fMenu2-item"><a class="fMenu2-item__link" href="https://store.world.co.jp/sitepolicy/?link_id=523_F_wpolicy">サイトポリシー</a></div>
              <div class="fMenu2-item"><a class="fMenu2-item__link" href="https://store.world.co.jp/privacypolicy/?link_id=523_F_wprivacy">プライバシーポリシー</a></div>
              <div class="fMenu2-item"><a class="fMenu2-item__link" href="https://corp.world.co.jp/recruit/" target="_blank">採用情報</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-copy">
      <p>Copyrights © WORLD CO.,LTD. All rights reserved.</p>
    </div>
  </div>
</footer>
