---

---

<footer class="footer">
  <div class="footer__category_wrap">
    <div class="footer-category">
      <p class="footer-category__ttl">SIZE</p>
      <div class="footer-category__inner">
        <a href="https://store.world.co.jp/s/brand/indivi/smallsize/?link_id=127_F_Ssize" class="footer-category__item">スモールサイズ</a>
        <a href="https://store.world.co.jp/s/brand/indivi/regularsize/?link_id=127_F_Rsize" class="footer-category__item">レギュラーサイズ</a>
        <a href="https://store.world.co.jp/s/brand/indivi/largesize/?link_id=127_F_Lsize" class="footer-category__item">ラージサイズ</a>
        <a href="https://store.world.co.jp/s/brand/indivi/search?link_id=127_F_all" class="footer-category__item">すべてのサイズ</a>
        <!--                <a class="footer-category__item is-sizelist">サイズリスト</a>-->
      </div>
    </div>
    <div class="footer-category">
      <p class="footer-category__ttl">ITEM</p>
      <div class="footer-category__inner">
        <a href="https://store.world.co.jp/s/brand/indivi/category/WB/?link_id=127_F_tops" class="footer-category__item">トップス</a>
        <a href="https://store.world.co.jp/s/brand/indivi/category/WC/?link_id=127_F_one" class="footer-category__item">ワンピース</a>
        <a href="https://store.world.co.jp/s/brand/indivi/category/WD/?link_id=127_F_skirt" class="footer-category__item">スカート</a>
        <a href="https://store.world.co.jp/s/brand/indivi/category/WE/?link_id=127_F_pants" class="footer-category__item">パンツ</a>
        <a href="https://store.world.co.jp/s/brand/indivi/search?it=WA01,WA02,WH01&link_id=127_F_jacket" class="footer-category__item">ジャケット</a>
        <a href="https://store.world.co.jp/s/brand/indivi/search?it=WA06,WA09,WA12,WA13,W19&link_id=127_F_coat" class="footer-category__item">コート</a>
        <a href="https://store.world.co.jp/s/brand/indivi/category/WK/?link_id=127_F_bag" class="footer-category__item">バッグ</a>
        <a href="https://store.world.co.jp/s/brand/indivi/category/WJ/?link_id=127_F_shoes" class="footer-category__item">シューズ</a>
        <a href="https://store.world.co.jp/s/brand/indivi/category/WM/?link_id=127_F_accessory" class="footer-category__item">アクセサリー</a>
        <a href="https://store.world.co.jp/s/brand/indivi/category/WN/?link_id=127_F_goods" class="footer-category__item">グッズ</a>
        <a href="https://store.world.co.jp/s/brand/indivi/category/WN/WN01/?link_id=127_F_stole" class="footer-category__item">ストール</a>
        <a href="https://store.world.co.jp/s/brand/indivi/category/WL/?link_id=127_F_hat" class="footer-category__item">ハット</a>
      </div>
    </div>
    <div class="footer-category">
      <p class="footer-category__ttl">CONTENTS</p>
      <div class="footer-category__inner">
        <a href="https://store.world.co.jp/s/brand/indivi/blog-search.html?label_code=BR127&link_id=127_H_blog" class="footer-category__item">ブログ</a>
        <a href="https://store.world.co.jp/s/brand/indivi/feature/?link_id=127_F_feature" class="footer-category__item">特集</a>
        <a href="https://store.world.co.jp/s/brand/indivi/news/?link_id=127_F_news" class="footer-category__item">ニュース</a>
        <a href="https://store.world.co.jp/s/brand/indivi/item/preorder/?link_id=127_F_limited" class="footer-category__item">予約アイテム</a>
        <a href="https://store.world.co.jp/s/brand/indivi/snap-search.html?label=BR127,BR523&link_id=127_F_staffsnap_more" class="footer-category__item">スタッフスナップ</a>
        <a href="https://store.world.co.jp/real-store-search?pcf=1&br=BR127&link_id=127_F_shoplist" class="footer-category__item">ショップリスト</a>
        <a href="https://store.world.co.jp/s/brand/indivi/sale/?link_id=127_F_sale" class="footer-category__item" style="color:#C30000 !important;">Sale</a>
        <a href="https://store.world.co.jp/s/brand/indivi/customer_voice/?link_id=127_F_Customer" class="footer-category__item">Customer's Voice</a>
      </div>
    </div>
    <div class="footer-category">
      <p class="footer-category__ttl">OTHERS</p>
      <div class="footer-category__inner">
        <a href="https://store.world.co.jp/mail-magazine-search?div=13&br=BR127&mode=50&link_id=127_F_mailmagazine" class="footer-category__item">メールマガジン</a>
        <a href="https://world-sp-recruit.net/jobfind-pc/area/All?brand=32&link_id=127_F_shopstaff" target="_blank" class="footer-category__item">SHOP STAFF募集</a>
      </div>
    </div>
    <div class="footer-category">
      <p class="footer-category__ttl">CUSTOMER</p>
      <div class="footer-category__inner">
        <a href="https://store.world.co.jp/member/?link_id=127_F_wpc" class="footer-category__item">ワールドプレミアムクラブ</a>
        <a href="https://store.world.co.jp/help/?link_id=127_F_wfaq" class="footer-category__item">お客様窓口</a>
        <a href="http://corp.world.co.jp/?link_id=127_F_wcompany" target="_blank" class="footer-category__item">企業情報</a>
        <a href="https://store.world.co.jp/terms/?link_id=127_F_wpolicy" class="footer-category__item">利用規約</a>
        <a href="https://store.world.co.jp/sitepolicy/?link_id=127_F_wpolicy" class="footer-category__item">サイトポリシー</a>
        <a href="https://store.world.co.jp/privacypolicy/?link_id=127_F_wprivacy" class="footer-category__item">プライバシーポリシー</a>
        <a href="http://corp.world.co.jp/recruit/?link_id=127_F_wrecruit" target="_blank" class="footer-category__item">採用情報</a>
      </div>
    </div>
  </div>
  <div class="footer__sns">
    <div class="footer-sns">
      <a href="https://www.instagram.com/indivi__official/" target="_blank" class="footer-sns__item"><img src="https://store.world.co.jp/s/brand/indivi/common/img/ico_insta_g.svg" alt="" class="footer-sns__ico" /></a>
      <a href="https://www.facebook.com/INDIVI/" target="_blank" class="footer-sns__item"><img src="https://store.world.co.jp/s/brand/indivi/common/img/ico_facebook_g.svg" alt="" class="footer-sns__ico" /></a>
      <a href="https://twitter.com/indiviofficial/" target="_blank" class="footer-sns__item"><img src="https://store.world.co.jp/s/brand/indivi/common/img/ico_x_g.svg" alt="" class="footer-sns__ico" /></a>
      <a href="https://lin.ee/33oblnT/" target="_blank" class="footer-sns__item"><img src="https://store.world.co.jp/s/brand/indivi/common/img/ico_line_g.svg" alt="" class="footer-sns__ico" /></a>
    </div><!-- .footer-sns -->

    <div class="footer-stageservice__area" style="margin-bottom: 27.5px;">
      <!-- 会員ランク読み込み -->

      <link href="https://store.world.co.jp/res/s/brand/indivi/common/css/stage_rank.css" rel="stylesheet" type="text/css" />

      <!--非ログイン時-->

      <div id="l_stage" class="clearfix not_login">
        <a href="https://store.world.co.jp/stage/?link_id=127_L_stage_brand">
          <div>
            <em>お買い物するほど<br />ポイントアップ・クーポン特典</em>
            <b>ステージ別サービス</b>
          </div>
        </a>
      </div>

      <!--/非ログイン時-->

      <!--ログイン時-->

      <!--/ログイン時-->
    </div>
  </div>
  <p class="footer__copy">@WORLD CO.,LTD.</p>
</footer>
