---

---

<div class="footer">
  <div class="footer__inner">
    <div class="footer__cnt">
      <div class="footer-category footer__category">
        <p class="footer-category__ttl">SHOPPING</p>
        <ul class="footer-category__wrap">
          <li class="sub-menu footer-category__item">
            <a href="javascript:void(0)" class="main-menu__btn">ITEM<span class="sub-menu__plus is-open"></span></a>
            <ul class="sub-menu__wrap" style="display:block">
              <li class="sub-menu__item"><a href="https://store.world.co.jp/s/brand/takeo-kikuchi/item/?link_id=070_F_allitems" class="sub-menu__btn">すべて見る</a></li>
              <li class="sub-menu__item has-child is-close">
                <a href="https://store.world.co.jp/s/brand/takeo-kikuchi/category/XB/?link_id=070_F_tops" class="sub-menu__btn">トップス</a>
                <ul class="is-footer low-menu" style="display:none;">
                  <li class="low-menu__item"><a href="https://store.world.co.jp/s/brand/takeo-kikuchi/category/XB/?link_id=070_F_tops_all" class="low-menu__link">ALL</a></li>
                  <li class="low-menu__item"><a href="https://store.world.co.jp/s/brand/takeo-kikuchi/category/XB/XB09/?st=1&br=BR070&un=item&link_id=070_F_tops_casual" class="low-menu__link">カジュアルシャツ</a></li>
                  <li class="low-menu__item"><a href="https://store.world.co.jp/s/brand/takeo-kikuchi/category/XB/XB01/?st=1&br=BR070&un=item&link_id=070_F_tops_knit" class="low-menu__link">ニット</a></li>
                  <li class="low-menu__item"><a href="https://store.world.co.jp/s/brand/takeo-kikuchi/search?st=1&br=BR070&it=XB02,XB03&un=item&link_id=070_F_t-shirt" class="low-menu__link">Ｔシャツ＆カットソー</a></li>
                  <li class="low-menu__item"><a href="https://store.world.co.jp/s/brand/takeo-kikuchi/category/XB/XB04/?st=1&br=BR070&un=item&link_id=070_F_polo-shirt" class="low-menu__link">ポロシャツ</a></li>
                  <li class="low-menu__item"><a href="https://store.world.co.jp/s/brand/takeo-kikuchi/search?st=1&br=BR070&it=XB12,XB15&un=item&link_id=070_F_sweat-shirt" class="low-menu__link">スウエット＆パーカー</a></li>
                  <li class="low-menu__item"><a href="https://store.world.co.jp/s/brand/takeo-kikuchi/category/XB/XB10/?st=1&br=BR070&un=item&link_id=070_F_dress-shirt" class="low-menu__link">ドレスシャツ</a></li>
                </ul>
              </li>
              <li class="sub-menu__item has-child is-close">
                <a href="https://store.world.co.jp/s/brand/takeo-kikuchi/category/XA/?link_id=070_F_outer" class="sub-menu__btn">アウター</a>
                <ul class="is-footer low-menu" style="display:none;">
                  <li class="low-menu__item"><a href="https://store.world.co.jp/s/brand/takeo-kikuchi/category/XA/?link_id=070_H_outer_all" class="low-menu__link">ALL</a></li>
                  <li class="low-menu__item"><a href="https://store.world.co.jp/s/brand/takeo-kikuchi/search?st=1&br=BR070&it=XA01,XA02&un=item&link_id=070_H_outer_jacket" class="low-menu__link">ジャケット</a></li>
                  <li class="low-menu__item"><a href="https://store.world.co.jp/s/brand/takeo-kikuchi/search?st=1&br=BR070&it=XA03,XA04,XA05,XA06,XA07,XA08,XA20,XA21,XA22,XA23&un=item&link_id=070_H_outer_blouson" class="low-menu__link">ブルゾン</a></li>
                  <li class="low-menu__item"><a href="https://store.world.co.jp/s/brand/takeo-kikuchi/search?st=1&br=BR070&it=XA09,XA10,XA11,XA12,XA13,XA14,XA15,XA16,XA17,XA18,XA19&un=item&link_id=070_H_outer_all_coat" class="low-menu__link">コート</a></li>
                </ul>
              </li>
              <li class="sub-menu__item"><a href="https://store.world.co.jp/s/brand/takeo-kikuchi/category/XE/?link_id=070_F_bottom" class="sub-menu__btn">パンツ</a></li>
              <li class="sub-menu__item"><a href="https://store.world.co.jp/s/brand/takeo-kikuchi/category/XH/?link_id=070_F_suits" class="sub-menu__btn">スーツ/セットアップ</a></li>
              <li class="sub-menu__item has-child is-close">
                <a href="https://store.world.co.jp/s/brand/takeo-kikuchi/item/bag/?link_id=070_F_bag" class="sub-menu__btn">バッグ</a>
                <ul class="is-footer low-menu" style="display:none;">
                  <li class="low-menu__item"><a href="https://store.world.co.jp/s/brand/takeo-kikuchi/item/bag/?link_id=070_H_bag_all" class="low-menu__link">ALL</a></li>
                  <li class="low-menu__item"><a href="https://store.world.co.jp/s/brand/takeo-kikuchi/category/XK/XK01/?st=1&br=BR070&un=item&link_id=070_H_bag_tote" class="low-menu__link">トートバッグ</a></li>
                  <li class="low-menu__item"><a href="https://store.world.co.jp/s/brand/takeo-kikuchi/category/XK/XK05/?st=1&br=BR070&un=item&link_id=070_H_outer_rucksack" class="low-menu__link">リュック</a></li>
                  <li class="low-menu__item"><a href="https://store.world.co.jp/s/brand/takeo-kikuchi/category/XK/XK03/?st=1&br=BR070&un=item&link_id=070_H_outer_shoulderbag" class="low-menu__link">ショルダーバッグ</a></li>
                  <li class="low-menu__item"><a href="https://store.world.co.jp/s/brand/takeo-kikuchi/category/XK/XK08/?st=1&br=BR070&un=item&link_id=070_H_outer_clutchbag" class="low-menu__link">クラッチバッグ</a></li>
                  <li class="low-menu__item"><a href="https://store.world.co.jp/s/brand/takeo-kikuchi/category/XK/XK09/?du=0&link=FACET&st=1&br=BR070&un=fku&link_id=070_H_outer_briefhbag" class="low-menu__link">ブリーフバッグ</a></li>
                </ul>
              </li>
              <li class="sub-menu__item"><a href="https://store.world.co.jp/s/brand/takeo-kikuchi/search?st=1&br=BR070&it=XK13,XK14,XK15,XN16&un=item&link_id=070_F_wallet" class="sub-menu__btn">財布＆革小物</a></li>
              <li class="sub-menu__item"><a href="https://store.world.co.jp/s/brand/takeo-kikuchi/category/XJ/?link_id=070_F_shoes" class="sub-menu__btn">シューズ</a></li>
              <li class="sub-menu__item has-child is-close">
                <a href="https://store.world.co.jp/s/brand/takeo-kikuchi/category/XM/?link_id=070_F_accessary" class="sub-menu__btn">アクセサリー</a>
                <ul class="is-footer low-menu" style="display:none;">
                  <li class="low-menu__item"><a href="https://store.world.co.jp/s/brand/takeo-kikuchi/search?st=1&br=BR070&it=XM03,XM04,XM01,XM02,XN11,XN12&un=item&link_id=070_F_accessary_all" class="low-menu__link">ALL</a></li>
                  <li class="low-menu__item"><a href="https://store.world.co.jp/s/brand/takeo-kikuchi/search?st=1&br=BR070&it=XM03,XM04&un=item&link_id=070_F_accessary_necklace_bracelet" class="low-menu__link">ネックレス＆ブレスレット</a></li>
                  <li class="low-menu__item"><a href="https://store.world.co.jp/s/brand/takeo-kikuchi/search?st=1&br=BR070&it=XM01,XM02&un=item&link_id=070_F_accessary_ring_earrings" class="low-menu__link">リング＆ピアス</a></li>
                  <li class="low-menu__item"><a href="https://store.world.co.jp/s/brand/takeo-kikuchi/search?st=1&br=BR070&it=XN11,XN12&link_id=070_F_accessary_ring_pin_cuffs" class="low-menu__link">ネクタイピン／カフリンクス</a></li>
                </ul>
              </li>
              <li class="sub-menu__item"><a href="https://store.world.co.jp/s/brand/takeo-kikuchi/category/XN/XN10/?link_id=070_F_tie" class="sub-menu__btn">ネクタイ</a></li>
              <li class="sub-menu__item"><a href="https://store.world.co.jp/s/brand/takeo-kikuchi/category/XN/XN05/?link_id=070_F_belt" class="sub-menu__btn">ベルト</a></li>
              <li class="sub-menu__item"><a href="https://store.world.co.jp/s/brand/takeo-kikuchi/category/XN/XN01/?link_id=070_F_stall_muffler" class="sub-menu__btn">ストール＆マフラー</a></li>
              <li class="sub-menu__item"><a href="https://store.world.co.jp/s/brand/takeo-kikuchi/category/XP/XP03/?link_id=070_F_sox" class="sub-menu__btn">ソックス</a></li>
              <li class="sub-menu__item has-child is-close">
                <a href="https://store.world.co.jp/s/brand/takeo-kikuchi/category/XN/?link_id=070_F_fashion_accessories" class="sub-menu__btn">ファッション雑貨</a>
                <ul class="is-footer low-menu" style="display:none;">
                  <li class="low-menu__item"><a href="https://store.world.co.jp/s/brand/takeo-kikuchi/category/XN/?link_id=070_F_fashion_accessories_all" class="low-menu__link">ALL</a></li>
                  <li class="low-menu__item"><a href="https://store.world.co.jp/s/brand/takeo-kikuchi/search?st=1&br=BR070&it=XL01,XL02,XL03,XL04,XL05,XL06&un=item&link_id=070_F_fashion_accessories_hat" class="low-menu__link">帽子</a></li>
                  <li class="low-menu__item"><a href="https://store.world.co.jp/s/brand/takeo-kikuchi/category/XN/XN06/?link_id=070_F_fashion_accessories_glasses" class="low-menu__link">メガネ/サングラス</a></li>
                  <li class="low-menu__item"><a href="https://store.world.co.jp/s/brand/takeo-kikuchi/category/XN/XN13/?link_id=070_F_fashion_accessories_watch" class="low-menu__link">時計</a></li>
                  <li class="low-menu__item"><a href="https://store.world.co.jp/s/brand/takeo-kikuchi/search?st=1&br=BR070&it=XO04,XO05&un=item&link_id=070_F_fashion_accessories_underwear" class="low-menu__link">アンダーウェア</a></li>
                  <li class="low-menu__item"><a href="https://store.world.co.jp/s/brand/takeo-kikuchi/category/XF/?link_id=070_F_fashion_accessories_roomwear" class="low-menu__link">パジャマ/ルームウェア</a></li>
                  <li class="low-menu__item"><a href="https://store.world.co.jp/s/brand/takeo-kikuchi/search?st=1&br=BR070&it=XN02,XP03&un=item&link_id=070_F_fashion_accessories_handkerchief" class="low-menu__link">ハンカチ/ソックス</a></li>
                  <li class="low-menu__item"><a href="https://store.world.co.jp/s/brand/takeo-kikuchi/search?st=1&br=BR070&it=XN14,XN15&un=item&link_id=070_F_fashion_accessories_umbrella" class="low-menu__link">傘</a></li>
                </ul>
              </li>
              <li class="sub-menu__item has-child is-close">
                <a href="https://store.world.co.jp/s/brand/takeo-kikuchi/search?st=1&br=BR070&it=AH01,AH03,AH04,AM01,AM02,AM03,AM04,AN01,AN02,AN03,AN04,AN05,AN06,AN07,AN08,AN09,AN10,AN11,AN12,AN13,AN14,AN15,AN16,AG01,AG02,AG03,AM01,AG04,AG05,AG06,AI01,AI02,AI04,AI06,AI10,AJ01,AJ02,AK01,AK02,AK03,AK04,AK05,AL01,AL02,AL04,AO01,AG99,AD01,AF02,AF03,AF04,AF05,AF06,AL03,XK07,XM99,AO02,AR01,AR02,AR03,AR04,AR05,AR06,AR07,AR08,AS01,AS02,AS03,AT01,AU01,AU02,AV01,AV02,AN11,XM99,AM05,AQ01,AN13&un=item&link_id=070_H_lifestyle_accessories_interior" class="sub-menu__btn">ライフスタイル雑貨</a>
                <ul class="is-footer low-menu" style="display:none;">
                  <li class="low-menu__item"><a href="https://store.world.co.jp/s/brand/takeo-kikuchi/search?st=1&br=BR070&it=AH01,AH03,AH04,AM01,AM02,AM03,AM04,AN01,AN02,AN03,AN04,AN05,AN06,AN07,AN08,AN09,AN10,AN11,AN12,AN13,AN14,AN15,AN16,AG01,AG02,AG03,AM01,AG04,AG05,AG06,AI01,AI02,AI04,AI06,AI10,AJ01,AJ02,AK01,AK02,AK03,AK04,AK05,AL01,AL02,AL04,AO01,AG99,AD01,AF02,AF03,AF04,AF05,AF06,AL03,XK07,XM99,AO02,AR01,AR02,AR03,AR04,AR05,AR06,AR07,AR08,AS01,AS02,AS03,AT01,AU01,AU02,AV01,AV02,AN11,XM99,AM05,AQ01,AN13&un=item&link_id=070_H_lifestyle_accessories_interior" class="low-menu__link">ALL</a></li>
                  <li class="low-menu__item"><a href="https://store.world.co.jp/s/brand/takeo-kikuchi/search?st=1&br=BR070&it=AH01,AH03,AH04,AM01,AM02,AM03,AM04,AN01,AN02,AN03,AN04,AN05,AN06,AN07,AN08,AN09,AN10,AN11,AN12,AN13,AN14,AN15,AN16,AG99&un=item&link_id=070_F_lifestyle_accessories_interior" class="low-menu__link">インテリア</a></li>
                  <li class="low-menu__item"><a href="https://store.world.co.jp/s/brand/takeo-kikuchi/search?st=1&br=BR070&it=AG01,AG02,AG03,AM01,AG04,AG05,AG06,AI01,AI02,AI04,AI06,AI10,AJ01,AJ02,AK01,AK02,AK03,AK04,AK05,AL01,AL02,AL04,AO01,AG99&un=item&link_id=070_F_lifestyle_accessories_kitchen" class="low-menu__link">キッチン</a></li>
                  <li class="low-menu__item"><a href="https://store.world.co.jp/s/brand/takeo-kikuchi/search?st=1&br=BR070&it=AD01,AF02,AF03,AF04,AF05,AF06,AL03,XK07,XM99&un=item&link_id=070_F_lifestyle_accessories_stationery" class="low-menu__link">ステーショナリー</a></li>
                  <li class="low-menu__item"><a href="https://store.world.co.jp/s/brand/takeo-kikuchi/search?st=1&br=BR070&it=AO02,AR01,AR02,AR03,AR04,AR05,AR06,AR07,AR08,AS01,AS02,AS03,AT01,AU01,AU02,AV01,AV02,AN11,XM99&un=item&link_id=070_F_lifestyle_accessories_hobby" class="low-menu__link">ホビー</a></li>
                  <li class="low-menu__item"><a href="https://store.world.co.jp/s/brand/takeo-kikuchi/search?st=1&br=BR070&it=AM05,AQ01,AN13&un=item&link_id=070_F_lifestyle_accessories_cosmetics" class="low-menu__link">コスメ</a></li>
                </ul>
              </li>
              <li class="sub-menu__item"><a href="https://store.world.co.jp/s/brand/takeo-kikuchi/item/wrappingkit/?link_id=070_F_wrapping" class="sub-menu__btn">ラッピングキット</a></li>
            </ul>
          </li>
          <li class="footer-category__item"><a href="https://store.world.co.jp/s/brand/takeo-kikuchi/item/ranking/?link_id=070_F_ranking" class="footer-category__btn">RANKING<span class="footer-category__arrow"><img src="https://store.world.co.jp/s/brand/takeo-kikuchi/re-new/img/arrow-ico.svg" alt="" /></span></a></li>
          <li class="footer-category__item"><a href="https://store.world.co.jp/s/brand/takeo-kikuchi/item/newarrival/?link_id=070_F_newarrival" class="footer-category__btn">NEW ARRIVAL<span class="footer-category__arrow"><img src="https://store.world.co.jp/s/brand/takeo-kikuchi/re-new/img/arrow-ico.svg" alt="" /></span></a></li>
          <li class="footer-category__item"><a href="https://store.world.co.jp/s/brand/takeo-kikuchi/item/gift/?link_id=070_F_gift" class="footer-category__btn">GIFT<span class="footer-category__arrow"><img src="https://store.world.co.jp/s/brand/takeo-kikuchi/re-new/img/arrow-ico.svg" alt="" /></span></a></li>
          <!--
           <li class="sub-menu footer-category__item">
             <a href="javascript:void(0)" class="footer-category__btn">GIFT<span class="sub-menu__plus"></span></a>
             <ul class="sub-menu__wrap">
               <li class="sub-menu__item"><a href="https://store.world.co.jp/s/brand/takeo-kikuchi/gift/christmas/2022/?link_id=070_F_gift_christmas" class="sub-menu__btn">HAPPY HOLIDAYS 2022</a></li>
               <li class="sub-menu__item"><a href="https://store.world.co.jp/s/brand/takeo-kikuchi/item/gift/?link_id=070_F_gift" class="sub-menu__btn">LIMITED ITEM</a></li>
             </ul>
           </li>
-->
          <li class="footer-category__item"><a href="https://store.world.co.jp/s/brand/takeo-kikuchi/item/suits/?link_id=070_F_suits" class="footer-category__btn">SUITS<span class="footer-category__arrow"><img src="https://store.world.co.jp/s/brand/takeo-kikuchi/re-new/img/arrow-ico.svg" alt="" /></span></a></li>
          <li class="footer-category__item"><a href="https://store.world.co.jp/s/brand/takeo-kikuchi/item/limited/?link_id=070_F_weblimited" class="footer-category__btn">LIMITED ITEM<span class="footer-category__arrow"><img src="https://store.world.co.jp/s/brand/takeo-kikuchi/re-new/img/arrow-ico.svg" alt="" /></span></a></li>
          <li class="footer-category__item"><a href="https://store.world.co.jp/s/brand/takeo-kikuchi/item/40ct/?link_id=070_F_40ct" class="footer-category__btn">40ct＆525<span class="footer-category__arrow"><img src="https://store.world.co.jp/s/brand/takeo-kikuchi/re-new/img/arrow-ico.svg" alt="" /></span></a></li>
          <li class="footer-category__item"><a style="color:#A40000; font-weight: bold;" href="https://store.world.co.jp/s/brand/takeo-kikuchi/sale/search?so=RCMD&link_id=070_F_sale" class="footer-category__btn">SALE<span class="footer-category__arrow"><img src="https://store.world.co.jp/s/brand/takeo-kikuchi/re-new/img/arrow-ico.svg" alt="" /></span></a></li>
        </ul>
      </div>
      <div class="footer-category footer__category">
        <p class="footer-category__ttl">CONTENTS</p>
        <ul class="footer-category__wrap">
          <li class="footer-category__item"><a href="https://store.world.co.jp/s/brand/takeo-kikuchi/feature/?link_id=070_F_feature" class="footer-category__btn">FEATURE<span class="footer-category__arrow"><img src="https://store.world.co.jp/s/brand/takeo-kikuchi/re-new/img/arrow-ico.svg" alt="" /></span></a></li>
          <li class="footer-category__item"><a href="https://store.world.co.jp/s/brand/takeo-kikuchi/news/?link_id=070_F_news" class="footer-category__btn">NEWS<span class="footer-category__arrow"><img src="https://store.world.co.jp/s/brand/takeo-kikuchi/re-new/img/arrow-ico.svg" alt="" /></span></a></li>
          <li class="footer-category__item"><a href="https://store.world.co.jp/s/brand/takeo-kikuchi/blog-search.html?label_code=BR070&link_id=070_F_blog" class="footer-category__btn">BLOG<span class="footer-category__arrow"><img src="https://store.world.co.jp/s/brand/takeo-kikuchi/re-new/img/arrow-ico.svg" alt="" /></span></a></li>
          <li class="sub-menu footer-category__item">
            <a href="javascript:void(0)" class="footer-category__btn">LOOKBOOK<span class="sub-menu__plus"></span></a>
            <ul class="sub-menu__wrap">
              <li class="sub-menu__item" style="border-bottom:none;"><a href="https://store.world.co.jp/s/brand/takeo-kikuchi/lookbook/?link_id=070_H_lookbook" class="sub-menu__btn">ALL</a></li>
              <!--li class="sub-menu__item"><a href="https://store.world.co.jp/s/brand/takeo-kikuchi/lookbook/2023/autumn/01/?link_id=070_F_lookbook" class="sub-menu__btn">2023 AUTUMN SEASON LOOKBOOK<br>TOKYO TRADITION</a></li-->
              <!--li class="sub-menu__item"><a href="https://store.world.co.jp/s/brand/takeo-kikuchi/lookbook/2022/autumn/?link_id=070_H_aw_lookbook" class="sub-menu__btn">2022 Autumn&Winter SEASON LOOKBOOK RE:TRADITION</a></li-->
            </ul>
          </li>
          <li class="sub-menu footer-category__item">
            <a href="javascript:void(0)" class="footer-category__btn">ABOUT<span class="sub-menu__plus"></span></a>
            <ul class="sub-menu__wrap">
              <!-- <li class="sub-menu__item"><a href="https://store.world.co.jp/s/brand/takeo-kikuchi/about/tailored/?link_id=070_F_ab_tailored" class="sub-menu__btn">TAILORED×菊池武夫</a></li> -->
              <li class="sub-menu__item"><a href="https://store.world.co.jp/s/brand/takeo-kikuchi/about/?link_id=070_F_ab_about" class="sub-menu__btn">ABOUT</a></li>
              <li class="sub-menu__item"><a href="https://store.world.co.jp/s/brand/takeo-kikuchi/about/40th/?link_id=070_F_ab_40th" class="sub-menu__btn" style="height:120px;"><img src="https://store.world.co.jp/s/brand/takeo-kikuchi/re-new/img/40th_logo.svg" alt="40th TAKEO KIKUCHI" /></a></li>
              <li class="sub-menu__item"><a href="https://store.world.co.jp/s/brand/takeo-kikuchi/about/concept/?link_id=070_F_ab_concept" class="sub-menu__btn">CONCEPT</a></li>
              <li class="sub-menu__item"><a href="https://store.world.co.jp/s/brand/takeo-kikuchi/about/originator/?link_id=070_F_ab_originator" class="sub-menu__btn">ORIGINATOR</a></li>
              <li class="sub-menu__item"><a href="https://store.world.co.jp/s/brand/takeo-kikuchi/about/history/?link_id=070_F_ab_history" class="sub-menu__btn">HISTORY</a></li>
              <!-- <li class="sub-menu__item"><a href="https://store.world.co.jp/s/brand/takeo-kikuchi/about/pnj/?link_id=070_F_ab_pnj" class="sub-menu__btn">PRODUCT NOTES JAPAN</a></li> -->
              <li class="sub-menu__item"><a href="https://store.world.co.jp/s/brand/takeo-kikuchi/about/sculpture/?link_id=070_F_ab_sculpture" class="sub-menu__btn">Sculpture</a></li>
            </ul>
          </li>
          <li class="sub-menu footer-category__item">
            <a href="javascript:void(0)" class="footer-category__btn">SHOP LIST<span class="sub-menu__plus"></span></a>
            <ul class="sub-menu__wrap">
              <li class="sub-menu__item"><a href="https://store.world.co.jp/real-store-search?pcf=1&br=BR070&link_id=070_F_shopj" class="sub-menu__btn" target="_blank">国内</a></li>
              <li class="sub-menu__item"><a href="https://store.world.co.jp/s/brand/takeo-kikuchi/shoplist/overseas/?link_id=070_F_shopo" class="sub-menu__btn" target="_blank">海外</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-sns footer__sns">
      <ul class="footer-sns__wrap">
        <li class="footer-sns__item"><a href="https://www.instagram.com/takeokikuchi_official/" class="footer-sns__btn" target="_blank"><img src="https://store.world.co.jp/s/brand/takeo-kikuchi/re-new/img/insta-ico.svg" alt="" class="footer-sns__ico" /><img src="https://store.world.co.jp/s/brand/takeo-kikuchi/re-new/img/sns-btn-bg.svg" alt="" class="footer-sns__btn_bg" /></a></li>
        <li class="footer-sns__item"><a href="https://www.facebook.com/TAKEOKIKUCHI.world" class="footer-sns__btn" target="_blank"><img src="https://store.world.co.jp/s/brand/takeo-kikuchi/re-new/img/facebook-ico.svg" alt="" class="footer-sns__ico" /><img src="https://store.world.co.jp/s/brand/takeo-kikuchi/re-new/img/sns-btn-bg.svg" alt="" class="footer-sns__btn_bg" /></a></li>
        <li class="footer-sns__item"><a href="https://twitter.com/takeo_official" class="footer-sns__btn" target="_blank"><img src="https://store.world.co.jp/s/brand/takeo-kikuchi/re-new/img/twitter-ico.svg" alt="" class="footer-sns__ico" /><img src="https://store.world.co.jp/s/brand/takeo-kikuchi/re-new/img/sns-btn-bg.svg" alt="" class="footer-sns__btn_bg" /></a></li>
        <li class="footer-sns__item"><a href="https://www.youtube.com/user/takeokikuchi30th" class="footer-sns__btn" target="_blank"><img src="https://store.world.co.jp/s/brand/takeo-kikuchi/re-new/img/youtube-ico.svg" alt="" class="footer-sns__ico is-large" /><img src="https://store.world.co.jp/s/brand/takeo-kikuchi/re-new/img/sns-btn-bg.svg" alt="" class="footer-sns__btn_bg" /></a></li>
        <li class="footer-sns__item"><a href="https://store.world.co.jp/mail-magazine-search?div=13&br=BR070&link_id=070_F_mail" class="footer-sns__btn" target="_blank"><img src="https://store.world.co.jp/s/brand/takeo-kikuchi/re-new/img/mail-ico.svg" alt="" class="footer-sns__ico" /><img src="https://store.world.co.jp/s/brand/takeo-kikuchi/re-new/img/sns-btn-bg.svg" alt="" class="footer-sns__btn_bg" /></a></li>
      </ul>
    </div>
    <div class="footer__cnt">
      <div class="footer-category footer__category is-utility">
        <ul class="footer-category__wrap">
          <li class="footer-category__item"><a href="https://store.world.co.jp/member/?link_id=070_F_wpc" class="footer-category__btn">ワールド プレミアムクラブ<span class="footer-category__arrow"><img src="https://store.world.co.jp/s/brand/takeo-kikuchi/re-new/img/arrow-ico.svg" alt="" /></span></a></li>
          <li class="sub-menu footer-category__item">
            <a href="javascript:void(0)" class="footer-category__btn">カスタマーサービス<span class="sub-menu__plus"></span></a>
            <ul class="sub-menu__wrap">
              <li class="sub-menu__item"><a href="https://store.world.co.jp/stage/takeokikuchi/?link_id=070_F_point" class="sub-menu__btn" target="_blank">ポイントプログラム</a></li>
              <li class="sub-menu__item"><a href="https://store.world.co.jp/help/wos/?link_id=070__wfaq" class="sub-menu__btn" target="_blank">お客様窓口</a></li>
              <li class="sub-menu__item"><a href="http://corp.world.co.jp/?link_id=070_F_wcompany" class="sub-menu__btn" target="_blank">企業情報</a></li>
              <li class="sub-menu__item"><a href="https://store.world.co.jp/terms/?link_id=070_F_wterms" class="sub-menu__btn" target="_blank">利用規約</a></li>
              <li class="sub-menu__item"><a href="https://store.world.co.jp/sitepolicy/?link_id=wos_F_sitepolicy&link_id=070_F_wpolicy" class="sub-menu__btn" target="_blank">サイトポリシー</a></li>
              <li class="sub-menu__item"><a href="https://store.world.co.jp/privacypolicy/?link_id=wos_F_privacypolicy&link_id=070_F_wprivacy" class="sub-menu__btn" target="_blank">プライバシーポリシー</a></li>
              <li class="sub-menu__item"><a href="https://world-sp-recruit.net/jobfind-pc/area/All?brand=52&_ga=2.135790897.1044577566.1554442218-70312327.1553831245" class="sub-menu__btn" target="_blank">採用情報</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer__copyright">&copy; WORLD CO., LTD.</div>
  </div>
</div>
