---

---

<header class="indivi-header" data-js="h-fixed">
  <div class="indivi-header__inner">
    <div class="indivi-header__logo">
      <div class="indivi-header__col">
        <h1 class="indivi-logo">
          <a href="https://store.world.co.jp/s/brand/${area.value.option04}/?link_id=${area.value.option06}_H_logo">
            <img src="https://store.world.co.jp/s/brand/indivi/common/img/logo_indivi.svg" alt="INDIVI｜インディヴィ" />
          </a>
        </h1>
      </div>
    </div>
    <div class="indivi-header__menu-all">
      <div class="indivi-menu-all-col">
        <ul class="indivi-brand" data-js="h-pull-down">
          <li>
            <a href="javascript:void(0)">BRAND</a>
            <div data-js="h-pull-down-cnt" style="display: none;">
              <ul class="indivi-brand-list">
                <li>
                  <a href="https://store.world.co.jp/s/brand/indivi/concept/?link_id=127_H_indiviconcept"> INDIVI </a>
                </li>
                <li>
                  <a href="https://store.world.co.jp/s/brand/indivi/vai/concept/?link_id=127_H_indivivaiconcept"> INDIVI V.A.I </a>
                </li>
                <li>
                  <a href="https://store.world.co.jp/s/brand/indivi/gallest/?link_id=127_H_gallest" target="_blank"> GALLEST </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>

      <div class="indivi-menu-all-col">
        <ul class="indivi-size" data-js="h-pull-down">
          <li>
            <a href="javascript:void(0)">SIZE</a>
            <div data-js="h-pull-down-cnt" style="display: none;">
              <ul class="indivi-size-list">
                <li>
                  <a href="https://store.world.co.jp/s/brand/indivi/search?link_id=127_H_Allsize"> すべてのサイズ </a>
                </li>
                <li>
                  <a href="https://store.world.co.jp/s/brand/indivi/smallsize/?link_id=127_H_Ssize"> スモールサイズ </a>
                </li>
                <li>
                  <a href="https://store.world.co.jp/s/brand/indivi/regularsize/?link_id=127_H_Rsize"> レギュラーサイズ </a>
                </li>
                <li>
                  <a href="https://store.world.co.jp/s/brand/indivi/largesize/?link_id=127_H_Lsize"> ラージサイズ </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>

      <div class="indivi-menu-all-col">
        <div class="indivi-btn-menu" data-js="h-menu">
          <span></span>
          <span></span>
          <span></span>
          <p class="indivi-btn-menu-txt open">MENU</p>
          <p class="indivi-btn-menu-txt close" style="display: none;">閉じる</p>
        </div>
        <div class="indivi-menu-cnt" data-js="h-menu-cnt">
          <div class="indivi-menu-cnt-inner">
            <div class="indivi-menu-col">
              <p class="indivi-menu">CATEGORY</p>
              <ul class="indivi-menu-list">
                <li>
                  <a href="https://store.world.co.jp/s/brand/indivi/search?link_id=127_H_All"> すべてのアイテム </a>
                </li>
                <li>
                  <a href="https://store.world.co.jp/s/brand/indivi/item/newitem/?link_id=127_H_newitem"> 新着アイテム </a>
                </li>
                <li>
                  <a href="https://store.world.co.jp/s/brand/indivi/item/ranking/?link_id=127_H_ranking"> ランキング </a>
                </li>
                <li>
                  <a href="https://store.world.co.jp/s/brand/indivi/weeklyrecommend/?link_id=127_H_recommend"> おすすめアイテム </a>
                </li>
                <li>
                  <a href="https://store.world.co.jp/s/brand/indivi/item/preorder/?link_id=127_H_preorder"> 予約アイテム </a>
                </li>
                <li>
                  <a href="https://store.world.co.jp/s/brand/indivi/sale/?link_id=127_H_sale" style="color: #C30000;"> SALE </a>
                </li>
                <li>
                  <a href="javascript:void(0)" class="indivi-menu-lv2" data-js="h-drop-down">ジャケット／コート</a>
                  <div class="indivi-menu-lv2-cnt" data-js="h-drop-down-cnt">
                    <ul class="indivi-menu-list-lv2">
                      <li>
                        <a href="https://store.world.co.jp/s/brand/indivi/search?it=WA,WH01&link_id=127_H_jacketcoat"> ALL </a>
                      </li>
                      <li>
                        <a href="https://store.world.co.jp/s/brand/indivi/search?it=WA01,WA02,WA03,WA04,WA05,WA06,WH01&link_id=127_H_jacket"> ジャケット </a>
                      </li>
                      <li>
                        <a href="https://store.world.co.jp/s/brand/indivi/search?it=WA06,WA07,WA09,WA10,WA11,WA12,WA13,WA14,WA15,WA16,WA17,WA18,WA19,WA20,WA21,WA23&link_id=127_H_coat"> コート </a>
                      </li>
                      <li>
                        <a href="https://store.world.co.jp/s/brand/indivi/search?it=WA08,WA22&link_id=127_H_blouson"> ブルゾン </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li>
                  <a href="https://store.world.co.jp/s/brand/indivi/setup/?link_id=127_H_setup"> セットアップ </a>
                </li>
                <li>
                  <a href="javascript:void(0)" class="indivi-menu-lv2" data-js="h-drop-down">トップス</a>
                  <div class="indivi-menu-lv2-cnt" data-js="h-drop-down-cnt">
                    <ul class="indivi-menu-list-lv2">
                      <li>
                        <a href="https://store.world.co.jp/s/brand/indivi/category/WB/?link_id=127_H_tops"> ALL </a>
                      </li>
                      <li>
                        <a href="https://store.world.co.jp/s/brand/indivi/search?it=WB02,WB03,WB05,WB11,WB13,WB14&link_id=127_H_cutsew"> カットソー </a>
                      </li>
                      <li>
                        <a href="https://store.world.co.jp/s/brand/indivi/category/WB/WB01/?link_id=127_H_knit"> ニット </a>
                      </li>
                      <li>
                        <a href="https://store.world.co.jp/s/brand/indivi/search?it=WB04,WB07&link_id=127_H_blouse"> ブラウス </a>
                      </li>
                      <li>
                        <a href="https://store.world.co.jp/s/brand/indivi/category/WB/WB06/?link_id=127_H_cardigan"> カーディガン </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li>
                  <a href="https://store.world.co.jp/s/brand/indivi/category/WE/?link_id=127_H_pants"> パンツ </a>
                </li>
                <li>
                  <a href="https://store.world.co.jp/s/brand/indivi/category/WD/?link_id=127_H_skirt"> スカート </a>
                </li>
                <li>
                  <a href="https://store.world.co.jp/s/brand/indivi/category/WC/?link_id=127_H_dress"> ドレス/ワンピース </a>
                </li>
                <li>
                  <a href="javascript:void(0)" class="indivi-menu-lv2" data-js="h-drop-down">グッズ</a>
                  <div class="indivi-menu-lv2-cnt" data-js="h-drop-down-cnt">
                    <ul class="indivi-menu-list-lv2">
                      <li>
                        <a href="https://store.world.co.jp/s/brand/indivi/search?it=WJ,WK,WM,WN,WL&link_id=127_H_goods"> ALL </a>
                      </li>
                      <li>
                        <a href="https://store.world.co.jp/s/brand/indivi/category/WJ/?link_id=127_H_shoes"> シューズ </a>
                      </li>
                      <li>
                        <a href="https://store.world.co.jp/s/brand/indivi/category/WK/?link_id=127_H_bag"> バッグ </a>
                      </li>
                      <li>
                        <a href="https://store.world.co.jp/s/brand/indivi/category/WM/?link_id=127_H_acc"> アクセサリー </a>
                      </li>
                      <li>
                        <a href="https://store.world.co.jp/s/brand/indivi/category/WN/?link_id=127_H_stole"> ストール </a>
                      </li>
                      <li>
                        <a href="https://store.world.co.jp/s/brand/indivi/search?it=WK07,WL01,WL02,WL03,WL04,WL05,WN05,WN06,WN07,WN14,WN15&link_id=127_H_othergoods"> その他 </a>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
            <div class="indivi-menu-col">
              <p class="indivi-menu">SIZE</p>
              <ul class="indivi-menu-list">
                <li>
                  <a href="https://store.world.co.jp/s/brand/indivi/search?link_id=127_H_nav_Allsize"> すべてのサイズ </a>
                </li>
                <li>
                  <a href="https://store.world.co.jp/s/brand/indivi/smallsize/?link_id=127_H_nav_Ssize"> スモールサイズ </a>
                </li>
                <li>
                  <a href="https://store.world.co.jp/s/brand/indivi/regularsize/?link_id=127_H_nav_Rsize"> レギュラーサイズ </a>
                </li>
                <li>
                  <a href="https://store.world.co.jp/s/brand/indivi/largesize/?link_id=127_H_nav_Lsize"> ラージサイズ </a>
                </li>
              </ul>
              <p class="indivi-menu">
                <a href="javascript:void(0)" data-js="size-list"> SIZE LIST </a>
              </p>
              <p class="indivi-menu">SHOP LIST</p>
              <ul class="indivi-menu-list">
                <li>
                  <a href="https://store.world.co.jp/real-store-search?pcf=1&br=BR127&link_id=127_H_all-size_shoplist"> すべてのサイズ </a>
                </li>
                <li>
                  <a href="https://store.world.co.jp/s/brand/indivi/s-size/shop/?link_id=127_H_s-size_shoplist"> スモールサイズ </a>
                </li>
                <li>
                  <a href="https://store.world.co.jp/s/brand/indivi/l-size/shop/?link_id=127_H_l-size_shoplist"> ラージサイズ </a>
                </li>
              </ul>
            </div>
            <div class="indivi-menu-col">
              <p class="indivi-menu">CONTENTS</p>
              <ul class="indivi-menu-list">
                <li>
                  <a href="javascript:void(0)" class="indivi-menu-lv2" data-js="h-drop-down">LOOK BOOK</a>
                  <div class="indivi-menu-lv2-cnt" data-js="h-drop-down-cnt">
                    <ul class="indivi-menu-list-lv2">
                      <li>
                        <a href="https://store.world.co.jp/s/brand/indivi/lookbook/?link_id=127_lookbook"> ALL </a>
                      </li>
                      <li>
                        <a href="https://store.world.co.jp/s/brand/indivi/lookbook/24ss01/?link_id=127_H_lookbook01"> 2024 SPRING VOL.1 </a>
                      </li>
                      <li>
                        <a href="https://store.world.co.jp/s/brand/indivi/lookbook/24ss02/?link_id=127_H_lookbook02"> 2024 SPRING VOL.2 </a>
                      </li>
                      <li>
                        <a href="https://store.world.co.jp/s/brand/indivi/lookbook/24ss03/?link_id=127_H_lookbook03"> 2024 SUMMER </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li>
                  <a href="https://store.world.co.jp/s/brand/indivi/feature/?link_id=127_H_feature"> 特集 </a>
                </li>
                <li>
                  <a href="https://store.world.co.jp/s/brand/indivi/snap-search.html?label=BR127,BR523&link_id=127_H_staffsnap"> スタイルスナップ </a>
                </li>
                <li>
                  <a href="https://store.world.co.jp/s/brand/indivi/blog-search.html?label_code=BR127&link_id=127_H_blog"> ブログ </a>
                </li>
                <li>
                  <a href="https://store.world.co.jp/s/brand/indivi/news/?link_id=127_H_news"> ニュース </a>
                </li>
                <li>
                  <a href="javascript:void(0)" class="indivi-menu-lv2" data-js="h-drop-down">コンセプト</a>
                  <div class="indivi-menu-lv2-cnt" data-js="h-drop-down-cnt">
                    <ul class="indivi-menu-list-lv2">
                      <li>
                        <a href="https://store.world.co.jp/s/brand/indivi/concept/?link_id=127_H_concept_indivi"> INDIVI </a>
                      </li>
                      <li>
                        <a href="https://store.world.co.jp/s/brand/indivi/vai/concept/?link_id=127_H_concept_indivivai" target="_blank"> INDIVI V.A.I </a>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="indivi-menu-all-col">
        <div class="indivi-btn-search">
          <div class="indivi-btn-search open" data-js="h-search">
            <p class="indivi-btn-search-ico">
              <img src="https://store.world.co.jp/s/brand/indivi/common/2024/05w/img/ico_search.svg" alt="SEARCH" />
            </p>
            <p class="indivi-btn-search-txt open">SEARCH</p>
          </div>
          <div class="indivi-btn-search close" data-js="h-search" style="display: none;">
            <span></span>
            <span></span>
            <p class="indivi-btn-search-txt close">閉じる</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="indivi-search-cnt" data-js="h-search-cnt">
    <div class="search-detail__inner">
      <div class="free-search">
        <form class="free-search__inner" action="/s/brand/indivi/search">
          <input class="free-search__input" type="text" placeholder="何をお探しですか？" name="fr" value="" />
          <input class="free-search__btn" type="submit" value="" />
          <input type="hidden" name="link_id" value="127_H_search" />
          <input type="hidden" name="st" value="1" /><!-- 在庫アリパラメータ追加用 -->
        </form>
      </div>
      <div class="keyword-search">
        <p class="keyword-search__ttl">キーワード</p>
        <div class="keyword-search__wrap">
          <div>
            <a href="https://store.world.co.jp/s/brand/indivi/topics/newin/240719/?link_id=127_H_search01" class="keyword-search__item"> 新作アイテム </a>
          </div>

          <div>
            <a href="https://store.world.co.jp/s/brand/indivi/item/preorder/?link_id=127_H_search02" class="keyword-search__item"> 秋の予約アイテム </a>
          </div>

          <div>
            <a href="https://store.world.co.jp/s/brand/indivi/sale/?link_id=127_H_search03" class="keyword-search__item"> FINAL SALE </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="cmn-size-list">
  <div class="size-list__modal" style="display: none;">
    <div class="size-list__modal_inner">
      <p class="size-list__modal_close"></p>
      <img src="https://store.world.co.jp/s/brand/indivi/top/img/bnr_srl.jpg" alt="" />
    </div>
  </div>
</div>
